[submodule "libraries/luajit"]
	path = libraries/luajit
	url = https://github.com/Theintercooler/RR-luajit.git
[submodule "libraries/enet"]
	path = libraries/enet
	url = https://github.com/Theintercooler/RR-enet.git
[submodule "libraries/uv"]
	path = libraries/uv
	url = git@github.com:joyent/libuv.git
